<h1>Listing courts</h1>


 
    <p>Players</p>
    <p>Name</p>
    <br />
<% @courts.each do |court| %>
    <p><%= court.players %></p>
    <p><%= court.name %></p>
    <p><%= link_to 'Show', court %></p>
    <p><%= link_to 'Edit', edit_court_path(court) %></p>
    <p><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 
<% end %>


<br />

<%= link_to 'New Court', new_court_path %>
